#lead-added{
    background-color: white;
    color: black;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid darkblue;
}

#calendar {
    height: 700px;
    max-height: 700px;
    overflow-y: scroll;
    border: 1px solid black;
}

#lead-added {
    position: relative;
    float: right;
}

#nextDay, #lastDay {
    margin: 12px;
}





