#lead-added {
    margin-top: 45px;
    margin-left: 60px;
}

#leadHead {
    margin-left: 10px;
}


#lead-sales {
    margin: 5px;
}

#leads {
    margin-top: 0px;
    height: 300px;
    max-height: 300px;
    overflow: scroll;
    
}

th {
    padding-top: 0;
}


#calendar {
    height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    border: 1px solid black;
    margin-top: 0;
}

#lead-added {
    position: relative;
    float: right;
    top: -35px;
    right: 5px;
}

#nextDay, #lastDay {
    margin: 12px;
}

#calendarSec {
    margin-top: 10px;
    padding-left: 0;
}

.card-header {
    height: 55px;
    background-color: #38e0d0
}

.ten-lead {
    position: relative;
    top: 15px;
    left: 15px;
}
.form {
    width: 500px;
    height: 600px;
}
#new-lead-confirmed, #follow-up-confirmed {
    position: relative;
    float: right;
}








